
body {
  background-image: url('img/ricepaper2.png');
  background-repeat: repeat;
  color: $black;
}


/* Links */
a {
  color: $black;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  border-bottom: 4px solid $gold;
  text-decoration: none;
}

a:hover {
  background-color: $gold;
}

a:focus{
  background-color: $gold;
}

a:active, .current-menu-item a {
  background-color: $gold;
}

.title {
	display: none;
}

h2 {
	line-height: 65px;
}

#primary img.social-share {
	margin: 0;
}

p {
	margin-top: .5em;
}

h1.logo {
	position: absolute;
	padding: 0 50px;
	z-index: 99;
    img {
      width: 264px;
    }
}
a h1.logo {
	position: fixed;
	top: 0;
	padding: 10px 20px;
	height: 28px;
	overflow: hidden;
	z-index: 99;
    img {
      width: 132px;
    }
}

.main-navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 98;
	padding: 10px;
	background-image: url(img/ricepaper2.png);
	.donate-button {
		position: fixed;
		top: 10px;
		right: 20px;
		background: $gold;
		border: 0;
		padding: 10px;
		font-size: 20px;
		line-height: 1;
	}
}

// quick basic sections
section {
	display: block;
	position: relative;
	background-image: url(img/ricepaper2.png);
	@include blend(multiply);
	width: 100%;
	-webkit-clip-path: url(#section-path);
			clip-path: url(#section-path);
	margin-top: -30px;
	padding: 30px 0;
	&.gold {
		background-color: $gold;
	}
	&.gray {
		background-color: $gray;
	}
	&.dark {
		background-color: $black;
		color: $white;
		a {
			color: $white;
		}
	}
	&.text-image {
		.content-wrap {
			@include flex;
			div {
				padding: 0 15px;
			}
			img {
				width: 25vw;
			}
		}
		&.natural .content-wrap {
			flex-direction: row-reverse;
		}
	}
	&.full-image {
		width: 100%;
		width: 100vw;
		height: 80%;
		height: 80vh;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@include mix-blend(multiply);
		}
		&.dark img {
			@include mix-blend(lighten);
		}
	}
}

.wrap {
	display: block;
	margin: 0 auto;
	padding: 80px 120px;
	&.text-wrap {
		max-width: 720px;
	}
	&.centered {
		text-align: center;
	}
}
section.land {
	margin-bottom: -40px;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(img/Footer.jpg) 50% 50% no-repeat;
		@include background-size(cover);
		@include mix-blend(multiply);
		z-index: 0;
	}
	.land-text {
		position: relative;
		z-index: 1;
		background: rgba($black, 0.9);
		color: $white;
		padding: 20px;
		font-size: 16px;
		line-height: 1.4;
		a {
			color: $white;
		}
	}
}


.accordion-section {
	position: relative;
	border-bottom: 2px solid;
	.accordion-title {
		padding: 20px 40px 20px 0;
		cursor: pointer;
		&:after {
			content: '✚';
			position: absolute;
			right: 0;
			top: 20px;
			@include transition(all, 0.5s);
		}
		&.open:after {
			@include transform(rotate(-45deg));
		}
	}
	.accordion-content {
		padding-bottom: 20px;
	}
}



// toggle interaction

.toggle-list {
  margin: 55px 0;
}
.toggle-list .toggle-list-item {
  display: none;
  position: relative;
}

.toggle-list.open .toggle-list-item {
  display: block;
}

.toggle-list:after {
    content:"";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
    border-bottom: 0px solid transparent;
    position: absolute;
    right: -5px;
    top: 20px;
}

.toggle-list.open:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f00;
  border-top: 0px solid transparent;
}

.social-share {
  margin: 0;
}


// Resources page
.Resources {
	p {
		margin: 0;
	}
	ul, li {
		list-style: none;
		margin: 0;
	}
	ul {
		margin: 0 0 20px 0;
	}
	li {
		margin-left: 20px;
	}
	a {
		color: #585653;
		border-bottom: none;
	}
	h4 {
		font-size: 3rem;
		line-height: 3rem;
		margin-top: 30px;
		font-weight: bold;
	}
	article .the-content ol > li {
		font-size: 3rem;
		font-family: Helvetica;
		&:before {
			text-shadow: -6px 4px 0px #bbf931;
			color: #bbf931;
		}
	}
}

// joing page
.Solidarity {
	.left {
		float: left;
		width: 45%;
	}
	h4 {
		font-size: 3rem;
		line-height: 3rem;
		margin-top: 30px;
		font-weight: bold;
	}
}