@font-face {
    font-family: Knewave-Regular;
    src: url(fonts/Knewave/Knewave-Regular.ttf);
}

@font-face {
    font-family: Nunito-Black;
    src: url(fonts/Nunito/Nunito-Black.ttf);
}

@font-face {
    font-family: Nunito-Bold;
    src: url(fonts/Nunito/Nunito-Bold.ttf);
}

@font-face {
    font-family: Nunito-Regular;
    src: url(fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
    font-family: NunitoSans-Black;
    src: url(fonts/Nunito_Sans/NunitoSans-Black.ttf);
}