@font-face {
  font-family: Knewave-Regular;
  src: url(fonts/Knewave/Knewave-Regular.ttf); }
@font-face {
  font-family: Nunito-Black;
  src: url(fonts/Nunito/Nunito-Black.ttf); }
@font-face {
  font-family: Nunito-Bold;
  src: url(fonts/Nunito/Nunito-Bold.ttf); }
@font-face {
  font-family: Nunito-Regular;
  src: url(fonts/Nunito/Nunito-Regular.ttf); }
@font-face {
  font-family: NunitoSans-Black;
  src: url(fonts/Nunito_Sans/NunitoSans-Black.ttf); }
/* Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

ol, ul {
  list-style: none; }

blockquote {
  font-family: 'Knewave', cursive; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

sup, sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  bottom: 1ex; }

sub {
  top: .5ex; }

small {
  font-size: 75%; }

big {
  font-size: 125%; }

figure {
  margin: 0; }

table {
  margin: 0 0 1.5em;
  width: 100%; }

th {
  font-weight: bold; }

button, input, select, textarea {
  font-size: 100%;
  /* Corrects font size not being inherited in all browsers */
  margin: 0;
  /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline;
  *vertical-align: middle;
  /* Improves appearance and consistency in all browsers */ }

button, input {
  line-height: normal;
  /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
  *overflow: visible;
  /* Corrects inner spacing displayed oddly in IE6/7 */ }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  border: none;
  border-radius: 10px;
  background: #ccc;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.4rem;
  line-height: 1;
  padding: 1.12em 1.5em 1em; }

button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

button:focus, html input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* Addresses box sizing set to content-box in IE8/9 */
  padding: 0;
  /* Addresses excess padding in IE8/9 */ }

input[type="search"] {
  -webkit-appearance: textfield;
  /* Addresses appearance set to searchfield in S5, Chrome */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0; }

input[type=text], input[type=email], textarea {
  color: #888888;
  border: 1px solid #dddddd;
  border-radius: 5px; }

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  color: #101010; }

input[type=text], input[type=email] {
  padding: 3px; }

textarea {
  overflow: auto;
  /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding: 10px;
  vertical-align: top;
  /* Improves readability and alignment in all browsers */
  width: 98%; }

/*
* Boots & Bones V0.1
* Lightweight responsive grid framework
* Joshua Beckman
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 11/11/2012
*/
/* Table of Contents
==================================================
    #Fluid Grid
    #Base 960 Grid
    #Wide SCreens
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing 
     */
/* #Fluid Grid (Inspired by Bootstrap)
================================================== */
.row-fluid {
  width: 100%;
  *zoom: 1; }

.row-fluid:before, .row-fluid:after {
  display: table;
  line-height: 0;
  content: ""; }

.row-fluid:after {
  clear: both; }

.row-fluid [class*="span"] {
  display: block;
  float: left;
  width: 100%;
  min-height: 30px;
  margin-left: 2.564102564102564%;
  *margin-left: 2.5109110747408616%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.row-fluid [class*="span"]:first-child {
  margin-left: 0; }

.row-fluid .controls-row [class*="span"] + [class*="span"] {
  margin-left: 2.564102564102564%; }

.row-fluid .span12 {
  width: 100%;
  *width: 99.94680851063829%; }

.row-fluid .span11 {
  width: 91.45299145299145%;
  *width: 91.39979996362975%; }

.row-fluid .span10 {
  width: 82.90598290598291%;
  *width: 82.8527914166212%; }

.row-fluid .span9 {
  width: 74.35897435897436%;
  *width: 74.30578286961266%; }

.row-fluid .span8 {
  width: 65.81196581196582%;
  *width: 65.75877432260411%; }

.row-fluid .span7 {
  width: 57.26495726495726%;
  *width: 57.21176577559556%; }

.row-fluid .span6 {
  width: 48.717948717948715%;
  *width: 48.664757228587014%; }

.row-fluid .span5 {
  width: 40.17094017094017%;
  *width: 40.11774868157847%; }

.row-fluid .span4 {
  width: 31.623931623931625%;
  *width: 31.570740134569924%; }

.row-fluid .span3 {
  width: 23.076923076923077%;
  *width: 23.023731587561375%; }

.row-fluid .span2 {
  width: 14.52991452991453%;
  *width: 14.476723040552828%; }

.row-fluid .span1 {
  width: 5.982905982905983%;
  *width: 5.929714493544281%; }

.row-fluid .offset12 {
  margin-left: 105.12820512820512%;
  *margin-left: 105.02182214948171%; }

.row-fluid .offset12:first-child {
  margin-left: 102.56410256410257%;
  *margin-left: 102.45771958537915%; }

.row-fluid .offset11 {
  margin-left: 96.58119658119658%;
  *margin-left: 96.47481360247316%; }

.row-fluid .offset11:first-child {
  margin-left: 94.01709401709402%;
  *margin-left: 93.91071103837061%; }

.row-fluid .offset10 {
  margin-left: 88.03418803418803%;
  *margin-left: 87.92780505546462%; }

.row-fluid .offset10:first-child {
  margin-left: 85.47008547008548%;
  *margin-left: 85.36370249136206%; }

.row-fluid .offset9 {
  margin-left: 79.48717948717949%;
  *margin-left: 79.38079650845607%; }

.row-fluid .offset9:first-child {
  margin-left: 76.92307692307693%;
  *margin-left: 76.81669394435352%; }

.row-fluid .offset8 {
  margin-left: 70.94017094017094%;
  *margin-left: 70.83378796144753%; }

.row-fluid .offset8:first-child {
  margin-left: 68.37606837606839%;
  *margin-left: 68.26968539734497%; }

.row-fluid .offset7 {
  margin-left: 62.393162393162385%;
  *margin-left: 62.28677941443899%; }

.row-fluid .offset7:first-child {
  margin-left: 59.82905982905982%;
  *margin-left: 59.72267685033642%; }

.row-fluid .offset6 {
  margin-left: 53.84615384615384%;
  *margin-left: 53.739770867430444%; }

.row-fluid .offset6:first-child {
  margin-left: 51.28205128205128%;
  *margin-left: 51.175668303327875%; }

.row-fluid .offset5 {
  margin-left: 45.299145299145295%;
  *margin-left: 45.1927623204219%; }

.row-fluid .offset5:first-child {
  margin-left: 42.73504273504273%;
  *margin-left: 42.62865975631933%; }

.row-fluid .offset4 {
  margin-left: 36.75213675213675%;
  *margin-left: 36.645753773413354%; }

.row-fluid .offset4:first-child {
  margin-left: 34.18803418803419%;
  *margin-left: 34.081651209310785%; }

.row-fluid .offset3 {
  margin-left: 28.205128205128204%;
  *margin-left: 28.0987452264048%; }

.row-fluid .offset3:first-child {
  margin-left: 25.641025641025642%;
  *margin-left: 25.53464266230224%; }

.row-fluid .offset2 {
  margin-left: 19.65811965811966%;
  *margin-left: 19.551736679396257%; }

.row-fluid .offset2:first-child {
  margin-left: 17.094017094017094%;
  *margin-left: 16.98763411529369%; }

.row-fluid .offset1 {
  margin-left: 11.11111111111111%;
  *margin-left: 11.004728132387708%; }

.row-fluid .offset1:first-child {
  margin-left: 8.547008547008547%;
  *margin-left: 8.440625568285142%; }

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1; }

.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
  line-height: 0; }

.container-fluid:after {
  clear: both; }

.main-fluid {
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  max-width: 1300px;
  *zoom: 1; }

.main-fluid:before, .main-fluid:after {
  display: table;
  content: "";
  line-height: 0; }

.main-fluid:after {
  clear: both; }

/* #Base 960 Grid (Inspired by Skeleton)
================================================== */
.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

.container .column, .container .columns {
  float: left;
  display: inline;
  padding-left: 10px;
  padding-right: 10px; }

.row {
  margin-bottom: 20px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha {
  margin-left: 0; }

.column.omega, .columns.omega {
  margin-right: 0; }

/* Base Grid */
.container .one.column, .container .one.columns {
  width: 40px; }

.container .two.columns {
  width: 100px; }

.container .three.columns {
  width: 160px; }

.container .four.columns {
  width: 220px; }

.container .five.columns {
  width: 280px; }

.container .six.columns {
  width: 340px; }

.container .seven.columns {
  width: 400px; }

.container .eight.columns {
  width: 460px; }

.container .nine.columns {
  width: 520px; }

.container .ten.columns {
  width: 580px; }

.container .eleven.columns {
  width: 640px; }

.container .twelve.columns {
  width: 700px; }

.container .thirteen.columns {
  width: 760px; }

.container .fourteen.columns {
  width: 820px; }

.container .fifteen.columns {
  width: 880px; }

.container .sixteen.columns {
  width: 940px; }

.container .one-third.column {
  width: 300px; }

.container .two-thirds.column {
  width: 620px; }

/* Offsets */
.container .offset-by-one {
  margin-left: 60px; }

.container .offset-by-two {
  margin-left: 120px; }

.container .offset-by-three {
  margin-left: 180px; }

.container .offset-by-four {
  margin-left: 240px; }

.container .offset-by-five {
  margin-left: 300px; }

.container .offset-by-six {
  margin-left: 360px; }

.container .offset-by-seven {
  margin-left: 420px; }

.container .offset-by-eight {
  margin-left: 480px; }

.container .offset-by-nine {
  margin-left: 540px; }

.container .offset-by-ten {
  margin-left: 600px; }

.container .offset-by-eleven {
  margin-left: 660px; }

.container .offset-by-twelve {
  margin-left: 720px; }

.container .offset-by-thirteen {
  margin-left: 780px; }

.container .offset-by-fourteen {
  margin-left: 840px; }

.container .offset-by-fifteen {
  margin-left: 900px; }

/* #Wide screens
================================================== */
/* Note: Design for a width of 1200px */
@media only screen and (min-width: 1281px) {
  body {
    font-size: 18px/26px; }

  .container {
    width: 1280px; }

  .container .column, .container .columns {
    padding-left: 10px;
    padding-right: 10px; }

  .column.alpha, .columns.alpha {
    padding-left: 0;
    padding-right: 10px; }

  .column.omega, .columns.omega {
    padding-right: 0;
    padding-left: 10px; }

  .alpha.omega {
    padding-left: 0;
    padding-right: 0; }

  .container .one.column, .container .one.columns {
    width: 60px; }

  .container .two.columns {
    width: 140px; }

  .container .three.columns {
    width: 220px; }

  .container .four.columns {
    width: 300px; }

  .container .five.columns {
    width: 380px; }

  .container .six.columns {
    width: 460px; }

  .container .seven.columns {
    width: 540px; }

  .container .eight.columns {
    width: 620px; }

  .container .nine.columns {
    width: 700px; }

  .container .ten.columns {
    width: 780px; }

  .container .eleven.columns {
    width: 860px; }

  .container .twelve.columns {
    width: 940px; }

  .container .thirteen.columns {
    width: 1020px; }

  .container .fourteen.columns {
    width: 1100px; }

  .container .fifteen.columns {
    width: 1180px; }

  .container .sixteen.columns {
    width: 1260px; }

  .container .one-third.column {
    width: 405px; }

  .container .two-thirds.column {
    width: 825px; }

  /* Offsets */
  .container .offset-by-one {
    margin-left: 80px; }

  .container .offset-by-two {
    margin-left: 160px; }

  .container .offset-by-three {
    margin-left: 240px; }

  .container .offset-by-four {
    margin-left: 320px; }

  .container .offset-by-five {
    margin-left: 400px; }

  .container .offset-by-six {
    margin-left: 480px; }

  .container .offset-by-seven {
    margin-left: 560px; }

  .container .offset-by-eight {
    margin-left: 640px; }

  .container .offset-by-nine {
    margin-left: 720px; }

  .container .offset-by-ten {
    margin-left: 800px; }

  .container .offset-by-eleven {
    margin-left: 880px; }

  .container .offset-by-twelve {
    margin-left: 960px; }

  .container .offset-by-thirteen {
    margin-left: 1040px; }

  .container .offset-by-fourteen {
    margin-left: 1120px; }

  .container .offset-by-fifteen {
    margin-left: 1200px; } }
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; }

  .container .column, .container .columns {
    padding-left: 10px;
    padding-right: 10px; }

  .column.alpha, .columns.alpha {
    padding-left: 0;
    padding-right: 10px; }

  .column.omega, .columns.omega {
    padding-right: 0;
    padding-left: 10px; }

  .alpha.omega {
    padding-left: 0;
    padding-right: 0; }

  .container .one.column, .container .one.columns {
    width: 28px; }

  .container .two.columns {
    width: 76px; }

  .container .three.columns {
    width: 124px; }

  .container .four.columns {
    width: 172px; }

  .container .five.columns {
    width: 220px; }

  .container .six.columns {
    width: 268px; }

  .container .seven.columns {
    width: 316px; }

  .container .eight.columns {
    width: 364px; }

  .container .nine.columns {
    width: 412px; }

  .container .ten.columns {
    width: 460px; }

  .container .eleven.columns {
    width: 508px; }

  .container .twelve.columns {
    width: 556px; }

  .container .thirteen.columns {
    width: 604px; }

  .container .fourteen.columns {
    width: 652px; }

  .container .fifteen.columns {
    width: 700px; }

  .container .sixteen.columns {
    width: 748px; }

  .container .one-third.column {
    width: 236px; }

  .container .two-thirds.column {
    width: 492px; }

  /* Offsets */
  .container .offset-by-one {
    margin-left: 48px; }

  .container .offset-by-two {
    margin-left: 96px; }

  .container .offset-by-three {
    margin-left: 144px; }

  .container .offset-by-four {
    margin-left: 192px; }

  .container .offset-by-five {
    margin-left: 240px; }

  .container .offset-by-six {
    margin-left: 288px; }

  .container .offset-by-seven {
    margin-left: 336px; }

  .container .offset-by-eight {
    margin-left: 384px; }

  .container .offset-by-nine {
    margin-left: 432px; }

  .container .offset-by-ten {
    margin-left: 480px; }

  .container .offset-by-eleven {
    margin-left: 528px; }

  .container .offset-by-twelve {
    margin-left: 576px; }

  .container .offset-by-thirteen {
    margin-left: 624px; }

  .container .offset-by-fourteen {
    margin-left: 672px; }

  .container .offset-by-fifteen {
    margin-left: 720px; } }
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 30px; }

  .only-wide {
    display: none; }

  .underline-mobile {
    border-bottom: 1px solid #263239; }

  .container {
    width: 300px; }

  .container .columns, .container .column {
    padding-left: 0;
    padding-right: 0; }

  .row-fluid [class*="span"], .row-fluid [class*="span"]:first-child {
    width: 96%;
    margin-left: 2%; }

  .row-fluid [class*="offset"], .row-fluid [class*="offset"]:first-child {
    margin-left: 2%; }

  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
    width: 300px; }

  /* Offsets */
  .container .offset-by-one, .container .offset-by-two, .container .offset-by-three, .container .offset-by-four, .container .offset-by-five, .container .offset-by-six, .container .offset-by-seven, .container .offset-by-eight, .container .offset-by-nine, .container .offset-by-ten, .container .offset-by-eleven, .container .offset-by-twelve, .container .offset-by-thirteen, .container .offset-by-fourteen, .container .offset-by-fifteen {
    margin-left: 0; } }
/* #Mobile (Landscape)
================================================== */
/* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .only-wide {
    display: none; }

  .container {
    width: 420px; }

  .container .columns, .container .column {
    padding-left: 0;
    padding-right: 0; }

  .row-fluid [class*="span"] {
    width: 96%;
    margin-left: 2%; }

  .row-fluid [class*="offset"], .row-fluid [class*="offset"]:first-child {
    margin-left: 2%; }

  .container .one.column, .container .one.columns, .container .two.columns, .container .three.columns, .container .four.columns, .container .five.columns, .container .six.columns, .container .seven.columns, .container .eight.columns, .container .nine.columns, .container .ten.columns, .container .eleven.columns, .container .twelve.columns, .container .thirteen.columns, .container .fourteen.columns, .container .fifteen.columns, .container .sixteen.columns, .container .one-third.column, .container .two-thirds.column {
    width: 420px; } }
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after, .clearfix:after {
  clear: both; }

.row, .clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/*
Theme Name: CARW
Author: rvratner

/* styles
-------------------------------------------------------------- */
body {
  background-image: url("img/ricepaper2.png");
  background-repeat: repeat;
  color: #2F2B37; }

/* Links */
a {
  color: #2f2b37;
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  border-bottom: 2px solid #f7c343;
  text-decoration: none; }

a:hover {
  background-color: #f7c343; }

a:focus {
  background-color: #f7c343; }

a:active, .current-menu-item a {
  background-color: #f7c343; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: "Nunito", Helvetica, sans-serif;
  color: #2F2B37; }

h1 {
  line-height: 71px;
  font-size: 48px;
  font-size: 4.8rem; }

h2 {
  line-height: 65px;
  font-size: 34px;
  font-size: 4rem;
  font-family: "Knewave-Regular", Helvetica, sans-serif; }

h3 {
  line-height: 41px;
  font-size: 28px;
  font-size: 2.8rem;
  font-family: "Knewave-Regular", Helvetica, sans-serif; }

h4 {
  line-height: 26px;
  font-size: 18px;
  font-size: 2.3rem; }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/* Text elements */
p {
  margin-bottom: 1.5em;
  margin-top: .5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

ul ul, ol ol, ul ol, ol ul {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

b, strong {
  font-weight: bold; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em;
  width: 60%;
  margin: auto; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 0.7em;
  line-height: 1.5em;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%;
  box-shadow: 0 3px 5px #ddd inset; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

/* Header
-------------------------------------------------------------- */
.site-title a {
  text-transform: uppercase;
  font-size: 4em;
  text-align: center; }
  .site-title a:hover {
    color: #ff6f4a; }

.site-description {
  font-family: "Nunito-Bold", Helvetica;
  font-size: 1.8rem;
  color: #2f2b37;
  font-weight: normal;
  width: 410px;
  line-height: 1.2;
  margin-top: 10px; }

.site-header #brand h1 a:hover, .site-header #brand h1 a:focus {
  background: none; }

.site-header {
  height: 640px;
  background-size: 100%;
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-position: 0px 0px; }
  .site-header.homepage {
    background-size: 0;
    height: 900px; }
  .site-header #brand {
    display: inline-block;
    font-weight: 900;
    margin-right: 20px;
    padding-top: 20px; }
    .site-header #brand img {
      width: 264px; }
    .site-header #brand h1 {
      margin: 0; }
      .site-header #brand h1 a {
        border: none; }

.header-widget {
  position: absolute;
  right: 0;
  font-family: "Nunito-sans", sans-serif;
  line-height: 1; }
  .header-widget#header-widget-about {
    width: 50%;
    max-width: 500px;
    background: #fff;
    padding: 10px; }
  .header-widget#header-widget-home {
    background-color: #f7c343;
    top: 45px;
    width: 320px;
    height: 189px;
    color: #2f2b27; }
    .header-widget#header-widget-home .widget_text {
      width: 240px;
      padding: 35px;
      display: block; }
    .header-widget#header-widget-home .widget-title {
      font-family: "Knewave-Regular";
      font-size: 2.6rem; }
    .header-widget#header-widget-home a {
      font-size: 1.5rem; }
  .header-widget .post-meta {
    font-family: "Nunito-Bold";
    font-size: 16px;
    list-style: none;
    margin: 0; }
    .header-widget .post-meta .post-meta-key {
      display: none; }
    .header-widget .post-meta li:first-child {
      line-height: 41px;
      font-size: 28px;
      font-size: 2.8rem;
      font-family: "Knewave-Regular", Helvetica, sans-serif; }

.home .site-header {
  position: relative;
  background-size: 0;
  height: 640px;
  margin-top: 0px;
  background-position: 0px 200px;
  padding: 20px; }
  .home .site-header #brand img {
    width: 200px; }

.scene {
  pointer-events: none;
  margin: 0;
  padding: 0;
  width: 150%;
  margin: 0 auto;
  min-height: 900px;
  position: absolute;
  top: 0; }
  .scene .layer {
    width: 200%;
    overflow: visible;
    margin-left: -300px; }
    .scene .layer div {
      width: 100%;
      background-repeat: repeat-x;
      background-color: transparent;
      min-height: 600px; }
  .scene .layer-1 div {
    padding-top: 125px;
    background-position: -730px bottom;
    background-size: 1000px; }
  .scene .layer-1-dark div {
    padding-top: 115px;
    background-position: -715px bottom;
    background-size: 1000px;
    -webkit-filter: brightness(0) blur(1px);
    filter: brightness(0) blur(1px);
    opacity: 0.5; }
  .scene .layer-2-dark div {
    padding-top: 245px;
    background-position: 605px bottom;
    background-size: 1000px;
    -webkit-filter: brightness(0) blur(1px);
    filter: brightness(0) blur(1px);
    opacity: 0.5; }
  .scene .layer-2 div {
    padding-top: 250px;
    background-position: 600px bottom;
    background-size: 1000px; }
  .scene .layer-3-dark div {
    padding-top: 425px;
    background-position: 100px bottom;
    background-size: 1000px;
    -webkit-filter: brightness(0) blur(1px);
    filter: brightness(0) blur(1px);
    opacity: 0.5; }
  .scene .layer-3 div {
    padding-top: 430px;
    background-position: 100px bottom;
    background-size: 1000px; }

.logged-in .main-navigation.fixed {
  top: 0px; }

.main-navigation {
  font-family: "Nunito-Bold", Helvetica, sans-serif;
  display: inline-block;
  width: 100%;
  text-align: center;
  position: static;
  height: 50px; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    display: inline-block; }
    .main-navigation ul li {
      float: left;
      margin: 2px 25px 0 0; }
      .main-navigation ul li a {
        font-size: 20px;
        text-transform: lowercase;
        border-bottom: 4px solid #f7c343; }
  .main-navigation .menu-main-container.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("img/ricepaper2.png");
    box-shadow: 1px 1px 3px #ccc;
    z-index: 10; }

.mobile {
  display: none; }

.desktop {
  display: block; }

.otcAccess .open {
  background: #fdc12d; }

#glt-translate-trigger, #glt-translate-trigger span {
  background: #fdc12d; }

/* Posts/Articles
-------------------------------------------------------------- */
#primary {
  max-width: 900px;
  margin: auto; }
  #primary img {
    margin: 20px; }

.post {
  margin-top: 90px; }

article {
  background: transparent;
  padding: 0;
  margin-bottom: 80px;
  border-bottom: 1px solid #dddddd; }
  article .title {
    color: #404040;
    line-height: 56.24px;
    font-size: 38px;
    font-size: 3.8rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1em; }
    article .title a {
      text-decoration: none;
      color: #404040; }
      article .title a:hover {
        color: #007998; }
  article .post-meta {
    margin-bottom: 40px;
    font-size: 14px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 500; }
    article .post-meta a {
      color: #888888;
      text-decoration: none; }
      article .post-meta a::hover {
        color: rgba(136, 136, 136, 0.5); }
  article .the-content a {
    font-weight: 900;
    text-decoration: none; }
  article .the-content p {
    color: #191919;
    text-align: justify;
    font-family: "Nunito-Regular";
    font-size: 18px;
    line-height: 1.5; }
  article .the-content blockquote {
    margin: 0 10rem; }
  article .the-content ol {
    list-style: none;
    counter-reset: li; }
    article .the-content ol > li {
      counter-increment: step;
      position: relative;
      font-family: "Knewave-Regular", Helvetica, sans-serif;
      font-size: 4rem;
      line-height: 1.3; }
      article .the-content ol > li:before {
        content: counter(step,decimal);
        color: #00ecd1;
        position: absolute;
        top: -30px;
        left: -23px;
        font-family: "NunitoSans-Black";
        font-size: 14rem;
        text-shadow: -6px 4px 0px #059681;
        z-index: -1; }
      article .the-content ol > li > ol > li {
        counter-increment: initial;
        font-family: "Nunito-Bold";
        font-size: 2rem; }
        article .the-content ol > li > ol > li:before {
          content: '';
          width: 0;
          height: 0; }
  article .meta {
    line-height: 14.8px;
    font-size: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .9px; }
    article .meta .post-categories {
      list-style: none;
      margin: 0 0 10px 0; }
      article .meta .post-categories li {
        display: inline-block;
        margin-right: 10px; }
    article .meta div {
      margin: 1px auto; }

/* Page loop styling */
.page article {
  border-bottom: none; }
  .page article .title {
    margin-bottom: 80px; }

.title {
  display: none; }

/* Pagination */
#pagination {
  margin-bottom: 40px;
  width: 100%; }
  #pagination .past-page {
    float: right;
    width: 49%;
    text-align: right; }
  #pagination .next-page {
    float: left;
    width: 50%;
    border-right: 1px solid #ccc;
    height: 200px; }
  #pagination .next-page a, #pagination .past-page a {
    font-size: 2em;
    font-family: "Nunito", Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 10%; }

/* Misc & mixens
-------------------------------------------------------------- */
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.clear {
  clear: both; }

/* clear floats */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

footer {
  padding-bottom: 40px;
  font-size: 12px; }
  footer .copywrite {
    clear: both; }

.site-footer {
  padding-top: 50px; }
  .site-footer ul, .site-footer li {
    text-decoration: none;
    list-style: none; }
    .site-footer ul a, .site-footer li a {
      color: #fff; }

.footer-widget {
  width: 32%;
  padding: 0;
  margin: 0 1% 1% 0;
  float: left;
  text-align: center; }
  .footer-widget h3 {
    font-size: 18px;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 1em; }
  .footer-widget .textwidget {
    padding-bottom: 4px;
    font-size: 16px; }

.toggle-list {
  margin: 55px 0;
  position: relative;
  font-size: 18px;
  line-height: 1.5;
  min-height: 110px; }

.toggle-list .toggle-list-item {
  display: none;
  position: relative; }

.toggle-list.open .toggle-list-item {
  display: block;
  font-size: 18px; }

.toggle-list:after {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
  border-bottom: 0px solid transparent;
  position: absolute;
  right: -5px;
  top: 20px; }

.toggle-list.open:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f00;
  border-top: 0px solid transparent; }

#primary img.social-share {
  margin: 0; }

.Resources p {
  margin: 0; }
.Resources ul, .Resources li {
  list-style: none;
  margin: 0; }
.Resources ul {
  margin: 0 0 20px 0; }
.Resources li {
  margin-left: 20px; }
.Resources h4 {
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 30px;
  font-weight: bold; }
.Resources article .the-content ol > li {
  font-size: 3rem;
  font-family: Helvetica; }
  .Resources article .the-content ol > li:before {
    text-shadow: -6px 4px 0px #bbf931;
    color: #bbf931; }
.Resources .toggle-list {
  position: relative; }
  .Resources .toggle-list:after {
    top: 120px;
    border-top: 20px solid #f7c343; }
  .Resources .toggle-list.open:after {
    border-bottom: 20px solid #f7c343;
    border-top: 20px solid transparent;
    top: 95px; }

.Solidarity .left ul, .Solidarity .left li, .Solidarity .right ul, .Solidarity .right li {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .Solidarity .left ul a, .Solidarity .left li a, .Solidarity .right ul a, .Solidarity .right li a {
    font-weight: 300; }
.Solidarity .left {
  float: left;
  width: 45%; }
.Solidarity h4 {
  font-size: 3rem;
  line-height: 3rem;
  margin-top: 30px;
  font-weight: bold; }

/* #Media Queries
================================================== */
/* Those wide screens above 1280px */
@media only screen and (min-width: 1281px) {
  body {
    font-size: 2.5em;
    line-height: 1.5em; }

  article .title {
    font-size: 1.8em;
    line-height: 1.5em; }
  article .post-meta {
    font-size: 0.7em;
    line-height: 1em; }

  .menu-main-nav-container a, .side-title, .menu-main-container a {
    font-size: 1em;
    line-height: 1.5em; } }
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  .side-title {
    font-size: 1em;
    line-height: 1.5em; } }
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .side-title {
    font-size: 1em;
    line-height: 1.5em; } }
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto; }

  h2 {
    line-height: 1.5;
    font-size: 2rem; }

  button#responsive-menu-button {
    box-shadow: none !important;
    background-color: #f5c250 !important;
    top: 0 !important;
    right: 0 !important;
    border-radius: 0 !important;
    color: #000 !important; }

  #octAccess {
    top: 82px !important;
    background-color: #f5c250 !important; }

  #octAccess .open, #octAccess .octContainer {
    background-color: #f5c250 !important;
    padding: 7px 7px 7px 8px; }

  #glt-translate-trigger, #glt-translate-trigger span {
    top: 55px;
    bottom: auto;
    right: 0;
    width: 49px;
    border-radius: 0;
    font-size: 10px;
    margin: 0;
    padding: 3px;
    background-color: #f5c250;
    color: #000; }

  .header-widget#header-widget-home {
    top: 120px; }

  .site-description.mobile {
    padding: 20px;
    width: 340px; }

  #primary img {
    margin: 0; }

  .responsive-menu-open button#responsive-menu-button .responsive-menu-box {
    color: #fff !important; }

  #responsive-menu-container {
    width: 100% !important; }

  #responsive-menu-container #responsive-menu-wrapper {
    text-align: center; }

  #responsive-menu-container #responsive-menu a {
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
    border-bottom: 4px solid #f7c343 !important;
    text-decoration: none; }

  #responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link {
    font-size: 30px !important;
    line-height: 2; }

  #responsive-menu-container li.responsive-menu-item a {
    display: inline !important; }

  .scene {
    display: none; }

  .container {
    width: 100%; }

  .main-navigation {
    display: none; }

  .desktop {
    display: none; }

  .mobile {
    display: block; }

  .alignright {
    float: none; }

  .side-title {
    font-size: 1em;
    line-height: 1.5em; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body, article .post-meta {
    font-size: 1.2em;
    line-height: 1.5em; }

  article .title {
    font-size: 2em;
    line-height: 1.5em; }

  .site-title {
    font-size: 10px !important;
    line-height: 50px; }

  .menu-main-nav-container a, .side-title, .menu-main-container a {
    font-size: 1em;
    line-height: 1.5em; } }
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  button#responsive-menu-button {
    display: block !important; }

  body, article .post-meta {
    font-size: 1.2em;
    line-height: 1.5em; }

  article .title {
    font-size: 2em;
    line-height: 1.5em; }

  article .the-content ol > li {
    font-size: 2rem; }

  article .the-content ul a {
    font-size: 1.5rem;
    line-height: 2;
    font-weight: lighter; }

  .site-header {
    height: 320px; }

  .site-title {
    font-size: 6px !important;
    line-height: 30px; }

  .menu-main-nav-container a, .side-title, .menu-main-container a {
    font-size: 1em;
    line-height: 1.5em; }

  #footer-widgets .footer-widget:nth-child(n), .footer-widget {
    margin-bottom: 11.5%; } }

/*# sourceMappingURL=style.css.map */
